@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
 /*
 The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
 */

 *{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
 }
 body{
   background-color: hsl(217, 54%, 11%);
   width: 98vw;
   height: 90vh;
   position: relative;
   align-items: center; 
   justify-content: center;
 }
 .card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 30px 20px;
 }
 .card img{
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
 }
 .card h1{
    color: white;
    font-size: 1em;
    padding: 1em;
 }
 #descricao p {
    color: hsl(215, 51%, 70%);
    padding: 0 1em;
 }
 div.infos{
   padding: 0.6em;
 }
 div#eth{
    display: inline-block;
    text-align: left;
    padding: 1em;
    color: hsl(178, 100%, 50%);
    text-align: left;
 }
 div#clock{
    display: inline-block;
    text-align: right;
    color: hsl(215, 51%, 70%);
    text-align: right;
 }
 #avatar{
    padding: 0px 1em;
 }
 #avatar img{
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid white;
    margin-top: -0.6em;
 }
 #avatar p{
    display: inline-block;
    color: hsl(215, 51%, 70%);
    margin-top: -0.6em;
    vertical-align: text-top;
 }
 #avatar a{
    color: white;
    text-decoration: none;
 }
