@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
 /*
 The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
 */

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
 }
 body{
   background-color: hsl(217, 54%, 11%);
   width: 98vw;
   height: 100vh;
   position: relative;
   align-items: center; 
   justify-content: center;
 }
 .card{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(250px, 60%);
    padding: 20px 10px 0 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.144);
 }
 .img{
   width: 95%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
 }
 .img img{
   width: 100%;
   border-radius: 15px;
 }
 .img:hover{
   cursor: pointer;
 }
 .card h1{
    color: white;
    font-size: 1em;
    padding: 0.5em;
 }
 .card h1:hover{
   color: hsl(178, 100%, 50%);
   cursor: pointer;
 }
 #descricao p {
    color: hsl(215, 51%, 70%);
    padding: 0 0.5em;
    font-size: 0.7em;
 }
 div.infos{
   justify-content: space-between;
   align-items: center;
   display: flex;
   font-size: 0.7em;
   padding: 0.5em;
 }
 div#eth{
    text-align: left;
    color: hsl(178, 100%, 50%);
    text-align: left;
 }
 div#clock{
    text-align: right;
    color: hsl(215, 51%, 70%);
    text-align: right;
 }
 #linha {
   width: 100%;
   border: 1px solid rgba(255, 255, 255, 0.178);
 }
 #avatar{
    padding: 1em 0.5em 0.5em 0.5em;
 }
 #avatar img{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -0.6em;
 }
 #avatar p{
    display: inline-block;
    color: hsl(215, 51%, 70%);
    margin-top: -0.6em;
    vertical-align: text-top;
    padding-left: 0.5em;
    font-size: 0.8em;

 }
 #avatar a{
    color: white;
    text-decoration: none;
 }
 #avatar a:hover{
   color: hsl(178, 100%, 50%);
   cursor: pointer;
 }
